@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;

}


body {
    font-family: 'Roboto', sans-serif;
    width: 425px;
    background-color: white;
    /* background-image: url('/img/simb_queijo.jpg'); */
    
}

header {
    background-color: whitesmoke;
    width: 425px;
    background-image: url('/img/simb_queijo.jpg');
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 425px;
    height: 554px;
    left: 0px;
    top: 0px;
}

/* main {
    
} */


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 425px;
    height: 795px;
    margin-top: 100px;
    background-image: url('/img/nuvem_palavras.png');
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 140px;
    left: 40px;
    top: 36px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 36px;
    margin: 40px;
    margin-bottom: 25px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 197px;
    height: 82px;
    left: 107px;
    top: 200px;
    background-color: transparent;
    border:0.5px solid #000000;
    border-radius: 36px;
    margin: 25px;
    margin-left: 110px;
    margin-right: 110px;
    text-decoration: none;
    box-shadow:inset 0px 1px 3px 0px #ffffff;
	/* background:linear-gradient(to bottom, #C4C4C4 5%, transparent 100%); */
	background-color:transparent;
    cursor: pointer;
	color:black;
	font-family: 'Roboto', sans-serif;
    font-size: larger;
	font-weight: bolder;

}

.menu:hover {
    /* background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%); */
	background-color: transparent;
    color:red;
    font-size: x-large;
    font-weight: bolder;
    
}



.banner {
    width: 1280px;
    height: 532px;
    display: none;
}

/* for Mobile */
@media screen and (max-width: 800px) {
    .banner {
        display: none;
    }

    .titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px 0px 0px 0px;
        
    }

    .menu a {
        text-decoration: none;
    }

    .menu:hover {
        box-shadow: 0px 0px 10px 0px #000000;
    }

    .sticky-btn {
        position: sticky;
        bottom: 1rem;
        left: 90%;
        border-radius: 50%;
        width: 15%;
      }
    
}

.curiosidades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px;
}

#curi:target {
    scroll-margin-top: .8em;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    box-sizing: border-box;
    margin: 25px;
    width: 335px;
    height: 534px;
}

.cards:hover {
    box-shadow: 0px 0px 10px 0px #000000;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    text-align: left;
}

#vid1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    box-sizing: border-box;
    margin: 25px;
    width: 335px;
    height: 534px;
}

#vid:target {
    scroll-margin-top: .8em;
}

.f-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.f-icons {
    padding-top: 20px;
    border-radius: 50%;
    width: 141px;
    height: 141px;
    
}
.f-text {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 36px;
    text-align: center;
}

/* For Desktops */
@media screen and (min-width: 800px) {
    body {
        width: 1280px;
    }

    header {
        width: 1280px;
        height: 213px;
    }

    footer {
        width: 1280px;
        height: 414px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }	

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-self: right;
        height: 213px;
        width: 858px;
        
    }


    .nav {
        display: flex;
        height: 213px;
        width: 858px;

    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-left: 25px;
        margin-right: 25px;
        width: 197px;
        height: 82px;
        left: 107px;
        top: 200px;
        background-color: #C4C4C4;
        border: 1px solid #000000;
        border-radius: 36px;
        margin: 25px;
        text-decoration: none;
        box-shadow:inset 0px 1px 3px 0px #ffffff;
        /* background:linear-gradient(to bottom, #C4C4C4 5%, transparent 100%); */
        background-color:transparent;
        cursor: pointer;
        color:red;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: bold;

    }

    .menu a {
        text-decoration: none;
    }

    .menu:hover {
        box-shadow: 0px 0px 10px 0px #000000;
    }

    .curiosidades {
        flex-direction: row;
    }

    .titulo {
        display: block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        color: #000000;
        margin: 100px 0px 0px 100px;
    }
    
    .cards {
        display: flex;

    }

    h3 {
        font-size: 36px;
        left: 123px;
    }

    #vid1 {
        width: 1077px;
        height: 534px;
    }

    .f-item {
        width: 50%;
    }

    .sticky-btn {
        position: sticky;
        bottom: 1rem;
        left: 90%;
        border-radius: 50%;
        width: 8%;
      }
}